@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #f3fbfc;
    color: #1a616a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #32bacc;
    color: #f3fbfc;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.statistics-section {
    padding: 20px;
}

.statistics-section h2 {
    font-family: 'Montserrat', sans-serif;
    color: #32bacc;
    margin-top: 20px;
}

.users-section {
    padding: 20px;
}

.users-section h2 {
    font-family: 'Montserrat', sans-serif;
    color: #32bacc;
    margin-bottom: 10px;
}

#user-list {
    list-style-type: none;
    padding-left: 0;
}

#user-list li {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #f3fbfc;
    border: 1px solid #acbcb4;
    border-radius: 8px;
    margin-bottom: 10px;
    color: #1a616a;
}

.options-section {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #32bacc;
    color: #f3fbfc;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f3fbfc;
    color: #acbcb4;
    font-size: 0.8rem;
}
