@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #f3fbfc;
    color: #1a616a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #32bacc;
    color: #f3fbfc;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.product-list {
    padding: 20px;
}

.product-list ul {
    list-style-type: none;
}

.product-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn-edit {
    padding: 5px 10px;
    background-color: #32bacc;
    color: #f3fbfc;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-add-product {
    margin: 20px;
    padding: 15px;
    background-color: #32bacc;
    color: #f3fbfc;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f3fbfc;
    color: #acbcb4;
    font-size: 0.8rem;
}
