* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #f3fbfc;
    color: #1a616a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #32bacc;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #1a616a;
}

.cta-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #32bacc;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover {
    background-color: #1a616a;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #74847c;
}
