@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #f3fbfc;
    color: #1a616a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #32bacc;
    color: #f3fbfc;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.sale-details,
.product-list {
    padding: 20px;
}

.sale-details h2,
.product-list h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f3fbfc;
    color: #acbcb4;
    font-size: 0.8rem;
}
